$heighDiv: 100px;
$widthDiv: 100px;

@mixin divFormat($index, $delay, $position : absolute) {
	width: $heighDiv;
	height: $widthDiv;
	animation: mymove 1s;
  opacity: 0;
  font-size: 100px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  animation-delay: $delay;

	@if $index != 1 {
		position: $position;
  }
  @if $index == 4 {
    margin-left: -60px;
	}
}

.container-div {
	display: flex;
  flex-direction: row;
  flex: 1;
	justify-content: center;
	align-items: center;
	position: relative;

  @for $i from 1 through 4 {
    .div#{$i} {
      $delayTmp: 1s;

      @if $i == 1 {
        $delayTmp: 1.1s;
      }
      @if $i != 1 {
        $delayTmp: $delayTmp * $i;
      }

      @include divFormat($i, $delayTmp);
    }
  }

	@keyframes mymove {
		0% {
			opacity: 0;
		}
		35% {
			opacity: 1;
		}

		65% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}

.my-overlay {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: visible;
  animation-name: overlay-show, overlay-hidden;
  animation-duration: 1s, 1s;
  animation-timing-function: linear, linear;
  animation-delay: 0s, 4.5s;
}

@keyframes overlay-show {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes overlay-hidden {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}