.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.frame {
	background-color: #dee2e6;
	border: solid 2vmin #eee;
	border-bottom-color: #fff;
	border-left-color: #eee;
	border-radius: 2px;
	border-right-color: #eee;
	border-top-color: #ddd;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
	box-sizing: border-box;
	display: inline-block;
	/* margin: 10vh 10vw;
	padding: 8vmin; */
	position: relative;
	text-align: center;
}

.frame:before {
  border-radius: 2px;
  bottom: -0.3vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
  content: "";
  left: -0.3vmin;
  position: absolute;
  right: -0.3vmin;
  top: -0.3vmin;
}

.frame:after {
  border-radius: 2px;
  bottom: -0.7vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
  content: "";
  left: -0.7vmin;
  position: absolute;
  right: -0.7vmin;
  top: -0.7vmin;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.font-100-per {
  font-size: 100%;
}

.font-80-per {
  font-size: 80% !important;
}

.m-r-l-none {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.p-r-l-none {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.flex-center {
	display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow-28 {
	box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
	-webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.28);
}

.p-t-b-1-5rem {
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}

.border-collapse-separate {
	border-collapse: separate;
    border-spacing: 0px 1.75rem;
}

.m-b-1rem {
	margin-bottom: 0.6rem;
}

.max-width-800 {
	max-width: 800px;
}

@media only screen and (max-width: 767px) {
	.p-r-l-10-vw {
		padding-right: 10vw !important;
		padding-left: 10vw !important;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
